body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

#header h1 {
  color: black;
}

p {
font-family: "Roboto", "Arial", sans-serif;
width: 60%;
margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #289cdf;
}

/* paragraaf breedte: 60%*/
.paragraaf2 {
  display: block; /* Hoort bij de breedte (width van de tekst) 
  padding: 8px; /* ruimte rondom de inhoud van een element*/
  color: whitesmoke; /* tekst kleur van paragraaf*/
  background-color: #333333; /* achtergrondkleur van paragraaf*/
  font-family: "Roboto", "Arial", sans-serif; /* lettertype*/
  font-size: large; /* lettergrootte*/
  text-align: left; /* zorgt dat de tekst links staat */
}

/* footer met relatieve positie*/
.footer { 
  background-color: whitesmoke; /* achtergrond kleur van footer*/
  color: lightskyblue; /* tekst kleur van footer*/
  height: 6vh; /* Hoogte van de footer */
  text-align: center;
}

/* header*/
#header {
  background-color: whitesmoke; /* achtergrond kleur van header*/
  text-align: center; /* positie van tekst*/
  padding: 25px; /* ruimte rondom de inhoud van een element*/
  color: #333333; /* tekst kleur van header*/
}
