body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
font-family: "Roboto", "Arial", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #289cdf;
}

/* paragraaf breedte: 100% */
.paragraaf {
  padding: 8px; /* ruimte rondom de inhoud van een element*/  
  color: whitesmoke; /* tekst kleur van paragraaf*/
  background-color: #333333; /* achtergrondkleur van paragraaf*/
  font-family: "Roboto", "Arial", sans-serif; /* lettertype*/
  font-size: large; /* lettergrootte*/
  text-align: left; /* zorgt dat de tekst links staat */
  margin-left: 0;
}

/* paragraaf breedte: 60%*/
#paragraaf2 {
  padding: 8px; /* ruimte rondom de inhoud van een element*/
  color: whitesmoke; /* tekst kleur van paragraaf*/
  background-color: #333333; /* achtergrondkleur van paragraaf*/
  font-family: "Roboto", "Arial", sans-serif; /* lettertype*/
  font-size: large; /* lettergrootte*/
  width: 60%; /* breedte van paragraaf*/
  text-align: left; /* zorgt dat de tekst links staat */
  margin-left: 0;
}

/* footer met relatieve positie*/
.footer { 
  background-color: whitesmoke; /* achtergrond kleur van footer*/
  padding: 12px; /* ruimte rondom de inhoud van een element*/ 
  text-align: center; /* positie van tekst*/
  color: lightskyblue; /* tekst kleur van footer*/
  position: relative; /* positie van footer*/ 
  width: 100%; /* breedte van footer*/
  left: 1; /* ruimte naar de linkerkant*/
}

/* header*/
.header {
  background-color: whitesmoke; /* achtergrond kleur van header*/
  text-align: center; /* positie van tekst*/
  padding: 25px; /* ruimte rondom de inhoud van een element*/
  color: #333333; /* tekst kleur van header*/
}
